In [1]:
%matplotlib inline

import os
import sys
import numpy as np
import pandas as pd
import json
from pprint import pprint
from scipy import stats
import gzip

from tqdm.auto import tqdm

import matplotlib.pyplot as plt

In [2]:
# ! curl "https://data.transportation.gov/api/views/8ect-6jqj/rows.json?accessType=DOWNLOAD" | gzip -1 -c > data.json.gz

In [3]:
def get_header_df(fname):
    lines_sofar = []
    with gzip.open(fname) as fh:
        for iline,line in enumerate(tqdm(fh)):
            line = line.decode()
            if line.strip().startswith('"data" :'):
                break
            lines_sofar.append(line)
    lines_sofar[-1] = lines_sofar[-1].replace(",","}")
    js = json.loads("".join(lines_sofar))
    return pd.DataFrame(js["meta"]["view"]["columns"])

def get_column_names(fname):
    return get_header_df(fname)["fieldName"].values.tolist()

column_names = get_column_names("data.json.gz")
def get_df_from_chunk(lines):
    js = '{"data": [%s]}' % (",".join("[%s]"%line for line in lines))
    df = pd.DataFrame(json.loads(js)["data"],columns=column_names)
    df = df[df.columns[~df.columns.str.startswith(":")]]

    ks = ["o_zone","d_zone","int_id","section_id","direction","movement","section_id"]
    for k in ks:
        df[k] = pd.to_numeric(df[k],errors="coerce").fillna(-1).astype(int)

    for k in ["vehicle_id","frame_id","total_frames","global_time","v_class","lane_id","preceding","following"]:
        df[k] = df[k].astype(int)

    for k in ["local_x","local_y","global_x","global_y","v_length","v_width","v_vel","v_acc","space_headway","time_headway"]:
        df[k] = df[k].astype(float)

    location_map = {'i-80': 0, 'lankershim': 1, 'peachtree': 2, 'us-101': 3}
    df["location"] = df["location"].map(location_map)
    return df

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [5]:
meta = get_header_df("data.json.gz")
meta.to_json("meta.json.gz")
meta

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

,id,name,dataTypeName,fieldName,position,renderTypeName,format,flags,description,tableColumnId,width,cachedContents
0,-1,sid,meta_data,:sid,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
1,-1,id,meta_data,:id,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
2,-1,position,meta_data,:position,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
3,-1,created_at,meta_data,:created_at,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
4,-1,created_meta,meta_data,:created_meta,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
5,-1,updated_at,meta_data,:updated_at,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
6,-1,updated_meta,meta_data,:updated_meta,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
7,-1,meta,meta_data,:meta,0,meta_data,{},[hidden],NaN,NaN,NaN,NaN
8,372619689,Vehicle_ID,number,vehicle_id,1,number,"{'precisionStyle': 'standard', 'noCommas': 'tr...",NaN,Vehicle identification number (ascending by ti...,52723321.0,100.0,"{'largest': '3366', 'non_null': 11850526, 'ave..."
9,372619690,Frame_ID,number,frame_id,2,number,"{'precisionStyle': 'standard', 'noCommas': 'tr...",NaN,Frame Identification number (ascending by sta...,52723322.0,100.0,"{'largest': '11691', 'non_null': 11850526, 'av..."
10,372619691,Total_Frames,number,total_frames,3,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Total number of frames in which the vehicle a...,52723323.0,100.0,"{'largest': '2434', 'non_null': 11850526, 'ave..."
11,372619692,Global_Time,number,global_time,4,number,"{'precisionStyle': 'standard', 'noCommas': 'tr...",NaN,"Elapsed time in milliseconds since Jan 1, 1970.",52723324.0,100.0,"{'largest': '1118937747000', 'non_null': 11850..."
12,372619693,Local_X,number,local_x,5,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Lateral (X) coordinate of the front center of ...,52723325.0,100.0,"{'largest': '160.884', 'non_null': 11850526, '..."
13,372619694,Local_Y,number,local_y,6,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Longitudinal (Y) coordinate of the front cente...,52723326.0,100.0,"{'largest': '2235.252', 'non_null': 11850526, ..."
14,372619695,Global_X,number,global_x,7,number,"{'precisionStyle': 'standard', 'noCommas': 'tr...",NaN,X Coordinate of the front center of the vehicl...,52723327.0,100.0,"{'largest': '6452740.916', 'non_null': 1185052..."
15,372619696,Global_Y,number,global_y,8,number,"{'precisionStyle': 'standard', 'noCommas': 'tr...",NaN,Y Coordinate of the front center of the vehicl...,52723328.0,100.0,"{'largest': '2134845.191', 'non_null': 1185052..."
16,372619697,v_length,number,v_length,9,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Length of vehicle in feet,52723329.0,100.0,"{'largest': '77.7', 'non_null': 11850526, 'ave..."
17,372619698,v_Width,number,v_width,10,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Width of vehicle in feet,52723336.0,100.0,"{'largest': '8.5', 'non_null': 11850526, 'aver..."
18,372619699,v_Class,number,v_class,11,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,"Vehicle type: 1 - motorcycle, 2 - auto, 3 - tr...",52723344.0,100.0,"{'largest': '3', 'non_null': 11850526, 'averag..."
19,372619700,v_Vel,number,v_vel,12,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Instantaneous velocity of vehicle in feet/second.,52723345.0,100.0,"{'largest': '95.3', 'non_null': 11850526, 'ave..."
20,372619701,v_Acc,number,v_acc,13,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Instantaneous acceleration of vehicle in feet/...,52723346.0,100.0,"{'largest': '15.84', 'non_null': 11850526, 'av..."
21,372619702,Lane_ID,number,lane_id,14,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Current lane position of vehicle. Lane 1 is fa...,52723362.0,100.0,"{'largest': '9999', 'non_null': 11850526, 'ave..."
22,372619703,O_Zone,text,o_zone,15,text,"{'displayStyle': 'plain', 'align': 'left'}",NaN,"Origin zones of the vehicles, i.e., the place ...",52723363.0,100.0,"{'largest': 'NA', 'non_null': 9476656, 'null':..."
23,372619704,D_Zone,text,d_zone,16,text,"{'displayStyle': 'plain', 'align': 'left'}",NaN,"Destination zones of the vehicles, i.e., the p...",52723364.0,100.0,"{'largest': 'NA', 'non_null': 9476656, 'null':..."
24,372619705,Int_ID,text,int_id,17,text,"{'displayStyle': 'plain', 'align': 'left'}",NaN,Intersection in which the vehicle is traveling...,52723365.0,100.0,"{'largest': 'NA', 'non_null': 9476656, 'null':..."
25,372619706,Section_ID,text,section_id,18,text,"{'displayStyle': 'plain', 'align': 'left'}",NaN,Section in which the vehicle is traveling. Lan...,52723366.0,100.0,"{'largest': 'NA', 'non_null': 9476656, 'null':..."
26,372619707,Direction,text,direction,19,text,"{'displayStyle': 'plain', 'align': 'left'}",NaN,Moving direction of the vehicle. 1 - east-bou...,52723368.0,100.0,"{'largest': 'NA', 'non_null': 9476656, 'null':..."
27,372619708,Movement,text,movement,20,text,"{'displayStyle': 'plain', 'align': 'left'}",NaN,"Movement of the vehicle. 1 - through (TH), 2 -...",52723369.0,100.0,"{'largest': 'NA', 'non_null': 9476656, 'null':..."
28,372619709,Preceding,number,preceding,21,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Vehicle ID of the lead vehicle in the same lan...,52723370.0,100.0,"{'largest': '3366', 'non_null': 11850526, 'ave..."
29,372619710,Following,number,following,22,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Vehicle ID of the vehicle following the subjec...,52723402.0,100.0,"{'largest': '3366', 'non_null': 11850526, 'ave..."
30,372619711,Space_Headway,number,space_headway,23,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Space Headway in feet. Spacing provides the di...,52723403.0,100.0,"{'largest': '1855.75', 'non_null': 11850526, '..."
31,372619712,Time_Headway,number,time_headway,24,number,"{'precisionStyle': 'standard', 'noCommas': 'fa...",NaN,Time Headway in seconds. Time Headway provides...,52723404.0,100.0,"{'largest': '31864.08', 'non_null': 11850526, ..."
32,372619713,Location,text,location,25,text,"{'displayStyle': 'plain', 'align': 'left'}",NaN,Name of street or freeway,52723419.0,100.0,"{'largest': 'us-101', 'non_null': 11850526, 'n..."

In [63]:
remake_parquet = False
if remake_parquet:
    data_lines = []
    dfs = []
    in_data = False
    ichunk = 0
    outdir = "outputs/"
    os.system("mkdir -p {}".format(outdir))
    with gzip.open("data.json.gz") as fh:
        for iline,line in enumerate(tqdm(fh)):

            line = line.decode()
            if not in_data:
                if line.strip().startswith('"data" :'):
                    in_data = True

            if in_data:
                line = line.replace('"data" : [ [ ',"",1).lstrip(",[ ").rstrip(" ]\n")
                data_lines.append(line)

            if len(data_lines) > 250000:
    #             dfs.append(get_df_from_chunk(data_lines))
                df = get_df_from_chunk(data_lines)
                df.to_parquet("{}/df_{}.parquet".format(outdir,ichunk),compression="lz4")
                ichunk += 1
                data_lines = []

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))